.results-container {
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background: transparent;
  font-family: 'OCR A Std', 'Lucida Console', Monaco, monospace;
  margin: 0 auto; /* center horizontally */
  background-color:rgba(0, 0, 0, 0.8);
  border: 3px solid rgb(252, 78, 62);
  border-radius: 10px;
  overflow: hidden;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid rgb(252, 78, 62);
}

.sortByText {
  font-size: 12px;
}

.sort-toggle {
  display: flex;
  background-color:rgba(0, 0, 0, 0.8);
  gap: 8px;
  margin: 10px 10px 10px 10px;
}

.sort-btn {
  padding: 6px 10px;
  border-radius: 6px;
  /* background: rgba(255,255,255,0.06); */
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255,255,255,0.08);
}

.sort-btn.active {
  /* background: linear-gradient(90deg, rgb(252,78,62), rgb(255,167,159));
  color: #222;
  border-color: transparent; */
  border-right: 2px solid rgb(252, 78, 62);
  color: rgb(252, 78, 62);
}

.tab {
  background: none;
  border: none;
  padding: 8px 20px;
  color: rgb(252, 78, 62);
  font-size: 16px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 0px;
  flex: 1;
  text-align: center;
}

.tab:hover {
  background-color: rgba(252, 78, 62, 0.2);
}

.tab.active {
  background-color: rgb(252, 78, 62);
  color: white;

}

.scroll-box {
  flex: 1;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  /* border: 2px solid rgb(252, 78, 62); */
  border-top: 3px solid rgba(99, 99, 99, 0.8);
  padding: 20px;
  padding-top: 10px;
  color: white;
}

.operator-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(252, 78, 62, 0.5);
  font-size: 16px;
}